/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: radial-gradient(circle at center, #17173c, #060616);
    min-height: 100vh;
    color: white;
}

/* Main Container */
.container {
    max-width: 1400px;
    margin: 0 auto;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 60px 80px;
    gap: 80px;
}

/* Left Section */
.left {
    flex: 1;
    max-width: 700px;
}

.left h1 {
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 35px;

    background: linear-gradient(90deg, #b066ff, #6d7cff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Form */
form {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
}

/* Inputs */
input {
    width: calc(50% - 9px);
    height: 58px;
}

textarea {
    width: 100%;
    min-height: 180px;
    resize: none;
    padding-top: 16px;
}

input,
textarea {
    background: rgba(255,255,255,0.06);
    border: 1px solid rgba(255,255,255,0.12);
    border-radius: 14px;

    color: white;
    padding: 0 18px;
    font-size: 16px;

    outline: none;
    transition: 0.3s;
}

input:focus,
textarea:focus {
    border-color: #8b5cf6;
    box-shadow: 0 0 15px rgba(139,92,246,0.4);
}

input::placeholder,
textarea::placeholder {
    color: rgba(255,255,255,0.55);
}

/* Button */
button {
    margin-top: 10px;
    padding: 16px 32px;

    border: none;
    border-radius: 14px;

    background: linear-gradient(90deg, #a855f7, #6366f1);

    color: white;
    font-size: 18px;
    font-weight: 600;

    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    transform: translateY(-3px);
}

/* Right Section */
.right {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Astronaut Image */
.right img {
    width: 100%;
    max-width: 520px;

    border-radius: 24px;

    box-shadow:
        0 0 40px rgba(139,92,246,0.25),
        0 0 80px rgba(99,102,241,0.15);
}

/* Messages */
.success {
    margin-top: 20px;
    color: #22c55e;
    font-weight: 600;
}

.error {
    margin-top: 20px;
    color: #ef4444;
    font-weight: 600;
}

/* Mobile */
@media (max-width: 992px) {

    .container {
        flex-direction: column;
        padding: 40px 25px;
    }

    .left,
    .right {
        width: 100%;
        max-width: 100%;
    }

    .left h1 {
        font-size: 46px;
        text-align: center;
    }

    input {
        width: 100%;
    }

    .right img {
        max-width: 400px;
    }
}